<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wizard2-prepare.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 256, 256 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 256, 256 } }</string>
				<key>sourceSize</key>
				<string>{ 256, 256 }</string>
			</dict> 
			<key>wizard2-attack.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 256, 0 }, { 256, 256 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 256, 256 } }</string>
				<key>sourceSize</key>
				<string>{ 256, 256 }</string>
			</dict> 
			<key>wizard2-damage.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 256 }, { 256, 256 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 256, 256 } }</string>
				<key>sourceSize</key>
				<string>{ 256, 256 }</string>
			</dict> 
			<key>wizard2-dead.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 256, 256 }, { 256, 256 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 256, 256 } }</string>
				<key>sourceSize</key>
				<string>{ 256, 256 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>wizard2.png</string>
			<key>size</key>
			<string>{ 512, 512 }</string>
			<key>textureFileName</key>
			<string>wizard2.png</string>
		</dict>
	</dict>
</plist>