<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wizard1-attack-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1226},{230,414}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,44},{230,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{318,440}}</string>
                <key>offset</key>
                <string>{-47,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{318,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{314,452}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,27},{314,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,988},{264,414}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,43},{264,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate1-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{282,424}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,55},{282,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{288,428}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,44},{288,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{270,442}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,24},{270,442}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{320,438}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,37},{320,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,322},{328,430}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,46},{328,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,652},{334,426}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,49},{334,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{256,440}}</string>
                <key>offset</key>
                <string>{-38,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,22},{256,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage5-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,722},{278,422}}</string>
                <key>offset</key>
                <string>{-48,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,40},{278,422}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage6-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{334,396}}</string>
                <key>offset</key>
                <string>{-66,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,69},{334,396}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{320,438}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,37},{320,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,322},{328,430}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,44},{328,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,324},{334,426}}</string>
                <key>offset</key>
                <string>{-27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,47},{334,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,660},{308,422}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{308,422}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead5-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,324},{294,396}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{294,396}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead6-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1254},{334,390}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,80},{334,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead7-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1458},{330,390}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,80},{330,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead8-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{274,272}}</string>
                <key>offset</key>
                <string>{3,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,198},{274,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead9-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{198,84}}</string>
                <key>offset</key>
                <string>{-23,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,296},{198,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{320,438}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,37},{320,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,576},{322,430}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,45},{322,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,900},{324,426}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,49},{324,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,970},{326,418}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,58},{326,418}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep1-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,250}}</string>
                <key>offset</key>
                <string>{6,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,225},{478,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wizard1-clothes-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d37e5e7b32dafdc267514d4a13bcd5:1/1$</string>
            <key>textureFileName</key>
            <string>wizard1-clothes-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
