<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wizard1-attack-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{116,208}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,21},{116,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,162},{160,220}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{160,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{158,226}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{158,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,458},{132,208}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,21},{132,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate1-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,314},{142,214}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{142,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,168},{144,214}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,22},{144,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{136,222}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{136,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{164,216}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{164,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,324},{168,214}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{168,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{128,220}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,11},{128,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage5-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,168},{140,212}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{140,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage6-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{148,198}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{148,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead10-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{98,42}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,148},{98,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead7-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,708},{168,196}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{168,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead8-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,510},{160,196}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{160,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead9-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,382},{138,126}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{138,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{160,220}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{160,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare2-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,164},{162,216}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{162,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare3-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{162,214}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{162,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare4-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,328},{164,210}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{164,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep1-clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,123},{240,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wizard1-clothes.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a24ea87651019c70ac4513ae31e21493:1/1$</string>
            <key>textureFileName</key>
            <string>wizard1-clothes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
