<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wizard1-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1534},{274,414}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,44},{274,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,370},{356,440}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{356,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,370},{350,452}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,27},{350,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1254},{278,414}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,43},{278,414}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,960},{292,424}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,55},{292,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1020},{292,428}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,44},{292,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-celebrate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{276,442}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,24},{276,442}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,728},{340,430}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,46},{340,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1070},{334,426}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,49},{334,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,722},{296,440}}</string>
                <key>offset</key>
                <string>{-58,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{296,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1314},{322,422}}</string>
                <key>offset</key>
                <string>{-70,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{322,422}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-damage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{342,396}}</string>
                <key>offset</key>
                <string>{-70,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,69},{342,396}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,598},{208,208}}</string>
                <key>offset</key>
                <string>{-17,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,296},{208,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1646},{334,390}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{334,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1314},{330,390}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,80},{330,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-dead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1648},{340,390}}</string>
                <key>offset</key>
                <string>{-30,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{340,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{358,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,37},{358,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,598},{360,430}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,45},{360,430}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{360,426}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,49},{360,426}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-prepare4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1638},{358,418}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,58},{358,418}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{480,276}}</string>
                <key>offset</key>
                <string>{5,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,226},{480,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,320},{480,276}}</string>
                <key>offset</key>
                <string>{5,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,226},{480,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{480,316}}</string>
                <key>offset</key>
                <string>{5,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,186},{480,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{480,366}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,136},{480,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,366}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,136},{480,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wizard1-sleep6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,366}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,136},{480,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wizard1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32bea82c039debb1a6b2435ee0ffb59b:1/1$</string>
            <key>textureFileName</key>
            <string>wizard1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
