<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wizard1-celebrate3-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-prepare3-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 512, 0 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-attack3-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 1024, 0 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-prepare-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 1536, 0 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-attack4-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 512 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-prepare2-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 1024 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-prepare4-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 1536 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-attack-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 512, 512 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-attack2-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 1024, 512 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-celebrate1-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 1536, 512 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
		<key>wizard1-celebrate2-clothes.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 512, 1024 }, { 512, 512 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 512, 512 } }</string>
			<key>sourceSize</key>
			<string>{ 512, 512 }</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>wizard1-set1-hd-clothes.png</string>
		<key>size</key>
		<string>{ 2048, 2048 }</string>
		<key>textureFileName</key>
		<string>wizard1-set1-hd-clothes.png</string>
	</dict>
</dict>
</plist>
