<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wizard1-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,484},{138,208}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,21},{138,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,366},{180,220}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{180,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,188},{176,226}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{176,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,694},{140,208}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{140,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,718},{146,214}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,26},{146,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{146,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,22},{146,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-celebrate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{138,222}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{138,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,188},{180,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{180,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,484},{170,216}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{170,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,548},{168,214}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{168,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{148,220}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{148,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,724},{162,212}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{162,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-damage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,826},{170,198}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{170,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,188},{180,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{180,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,370},{170,216}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{170,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,656},{168,214}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{168,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{162,212}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{162,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{172,198}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{172,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,904},{168,196}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{168,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,998},{160,196}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{160,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,888},{164,196}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,39},{164,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-dead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,302},{104,104}}</string>
                <key>offset</key>
                <string>{-9,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,148},{104,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,188},{180,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{180,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,302},{180,216}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,22},{180,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,542},{180,214}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{180,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-prepare4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,866},{180,210}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{180,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{240,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,123},{240,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,162},{240,138}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,113},{240,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,158}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,93},{240,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,184}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{240,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,184}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{240,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wizard1-sleep6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,184}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{240,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wizard1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3903a286d9141e66c907cc63d21f97ec:1/1$</string>
            <key>textureFileName</key>
            <string>wizard1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
