<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>wizard1-dead</key>
		<dict>
			<key>delay</key>
			<real>0.083</real>
			<key>frames</key>
			<array>
				<string>wizard1-dead.png</string>
				<string>wizard1-dead2.png</string>
				<string>wizard1-dead3.png</string>
				<string>wizard1-dead4.png</string>
				<string>wizard1-dead5.png</string>
				<string>wizard1-dead6.png</string>
				<string>wizard1-dead6.png</string>
				<string>wizard1-dead6.png</string>
				<string>wizard1-dead6.png</string>
				<string>wizard1-dead7.png</string>
				<string>wizard1-dead8.png</string>
				<string>wizard1-dead9.png</string>
				<string>wizard1-dead9.png</string>
				<string>wizard1-dead9.png</string>
				<string>wizard1-dead9.png</string>
			</array>
		</dict>
		<key>wizard1-sleep</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>wizard1-sleep1.png</string>
				<string>wizard1-sleep2.png</string>
				<string>wizard1-sleep3.png</string>
				<string>wizard1-sleep4.png</string>
				<string>wizard1-sleep5.png</string>
				<string>wizard1-sleep6.png</string>
			</array>
		</dict>
		<key>wizard1-damage</key>
		<dict>
			<key>delay</key>
			<real>0.076</real>
			<key>frames</key>
			<array>
				<string>wizard1-damage.png</string>
				<string>wizard1-damage2.png</string>
				<string>wizard1-damage3.png</string>
				<string>wizard1-damage4.png</string>
				<string>wizard1-damage5.png</string>
				<string>wizard1-damage6.png</string>
				<string>wizard1-damage6.png</string>
				<string>wizard1-damage6.png</string>
				<string>wizard1-damage6.png</string>
				<string>wizard1-damage5.png</string>
				<string>wizard1-damage4.png</string>
				<string>wizard1-damage3.png</string>
				<string>wizard1-damage2.png</string>
			</array>
		</dict>
		<key>wizard1-prepare</key>
		<dict>
			<key>delay</key>
			<real>0.09</real>
			<key>frames</key>
			<array>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare2.png</string>
				<string>wizard1-prepare3.png</string>
				<string>wizard1-prepare4.png</string>
				<string>wizard1-prepare3.png</string>
				<string>wizard1-prepare2.png</string>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare.png</string>
			</array>
		</dict>
		<key>wizard1-attack</key>
		<dict>
			<key>delay</key>
			<real>0.083</real>
			<key>frames</key>
			<array>
				<string>wizard1-attack2.png</string>
				<string>wizard1-attack3.png</string>
				<string>wizard1-attack4.png</string>
				<string>wizard1-attack.png</string>
				<string>wizard1-attack.png</string>
				<string>wizard1-attack.png</string>
			</array>
		</dict>
		<key>wizard1-celebrate</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wizard1-celebrate1.png</string>
				<string>wizard1-celebrate2.png</string>
				<string>wizard1-celebrate3.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
