<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fireball-Earthwall</key>
	<string></string>
	<key>Fireball</key>
	<dict>
		<key>player</key>
		<string>EffectDamage</string>
		<key>Earthwall</key>
		<string>SpellInteractionWeaken</string>
		<key>Bubble</key>
		<string>SpellInteractionReflect</string>
		<key>Windblast</key>
		<string>SpellInteractionGrow</string>
		<key>LightningOrb</key>
		<string>SpellInteractionDestroy</string>
	</dict>
</dict>
</plist>
