<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>earthwall-cast</key>
		<dict>
			<key>delay</key>
			<real>1.25</real>
			<key>frames</key>
			<array>
				<string>earthwall-1.png</string>
				<string>earthwall-2.png</string>
				<string>earthwall-3.png</string>
				<string>earthwall-4.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
