<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bubble-1</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 240, 240 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 240, 240 } }</string>
				<key>sourceSize</key>
				<string>{ 240, 240 }</string>
			</dict> 
			<key>bubble-2</key>
			<dict>
				<key>frame</key>
				<string>{ { 240, 0 }, { 240, 240 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 240, 240 } }</string>
				<key>sourceSize</key>
				<string>{ 240, 240 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bubble-hd.png</string>
			<key>size</key>
			<string>{ 512, 256 }</string>
			<key>textureFileName</key>
			<string>bubble-hd.png</string>
		</dict>
	</dict>
</plist>