<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explode-2.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 126, 126 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 126, 126 } }</string>
				<key>sourceSize</key>
				<string>{ 125, 125 }</string>
			</dict> 
			<key>explode-3.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 126, 0 }, { 126, 126 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 126, 126 } }</string>
				<key>sourceSize</key>
				<string>{ 125, 125 }</string>
			</dict> 
			<key>explode-1.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 252, 0 }, { 126, 126 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 126, 126 } }</string>
				<key>sourceSize</key>
				<string>{ 125, 125 }</string>
			</dict> 
			<key>explode-4.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 378, 0 }, { 126, 126 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 126, 126 } }</string>
				<key>sourceSize</key>
				<string>{ 125, 125 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>explode.png</string>
			<key>size</key>
			<string>{ 512, 512 }</string>
			<key>textureFileName</key>
			<string>explode.png</string>
		</dict>
	</dict>
</plist>