<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>explode</key>
		<dict>
			<key>delay</key>
			<real>0.166</real>
			<key>frames</key>
			<array>
				<string>explode-1</string>
				<string>explode-2</string>
				<string>explode-3</string>
				<string>explode-4</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
