<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fireball-1</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>sourceSize</key>
				<string>{ 175, 175 }</string>
			</dict> 
			<key>fireball-2</key>
			<dict>
				<key>frame</key>
				<string>{ { 176, 0 }, { 176, 176 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>sourceSize</key>
				<string>{ 175, 175 }</string>
			</dict> 
			<key>fireball-3</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 176 }, { 176, 176 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>sourceSize</key>
				<string>{ 175, 175 }</string>
			</dict> 
			<key>fireball-4</key>
			<dict>
				<key>frame</key>
				<string>{ { 176, 176 }, { 176, 176 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>sourceSize</key>
				<string>{ 175, 175 }</string>
			</dict> 
			<key>fireball-5</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 352 }, { 176, 176 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 176, 176 } }</string>
				<key>sourceSize</key>
				<string>{ 175, 175 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fireball-hd.png</string>
			<key>size</key>
			<string>{ 512, 1024 }</string>
			<key>textureFileName</key>
			<string>fireball-hd.png</string>
		</dict>
	</dict>
</plist>