<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ogre-2</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>sourceSize</key>
				<string>{ 450, 450 }</string>
			</dict> 
			<key>ogre-3</key>
			<dict>
				<key>frame</key>
				<string>{ { 450, 0 }, { 450, 450 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>sourceSize</key>
				<string>{ 450, 450 }</string>
			</dict> 
			<key>ogre-1</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 450 }, { 450, 450 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>sourceSize</key>
				<string>{ 450, 450 }</string>
			</dict> 
			<key>ogre-4</key>
			<dict>
				<key>frame</key>
				<string>{ { 450, 450 }, { 450, 450 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>sourceSize</key>
				<string>{ 450, 450 }</string>
			</dict> 
			<key>ogre-5</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 900 }, { 450, 450 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 450, 450 } }</string>
				<key>sourceSize</key>
				<string>{ 450, 450 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ogre-hd.png</string>
			<key>size</key>
			<string>{ 900, 1350 }</string>
			<key>textureFileName</key>
			<string>ogre-hd.png</string>
		</dict>
	</dict>
</plist>