<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,720},{110,102}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{110,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bubble-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,572},{112,114}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>earthwall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,748},{86,48}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,90},{86,48}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>earthwall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,914},{102,93}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,45},{102,93}}</string>
                <key>sourceSize</key>
                <string>{130,139}</string>
            </dict>
            <key>earthwall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,460},{106,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,132}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>earthwall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,561},{112,138}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>explode-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,950},{53,47}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{53,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>explode-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,695},{97,97}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{97,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>explode-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,763},{113,113}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{113,113}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>explode-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,573},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{81,81}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>fireball-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,955},{62,62}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,950},{60,44}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{60,44}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,520},{66,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{66,50}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,970},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{82,46}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,693},{78,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{78,52}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>firewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,950},{58,46}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,87},{58,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,448},{70,66}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,73},{70,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,470},{94,112}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{94,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firewall-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{112,126}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{112,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firewall-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,460},{112,140}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{112,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>firewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{112,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{112,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fist.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,448},{111,186}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,186}}</string>
                <key>sourceSize</key>
                <string>{119,200}</string>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,377},{91,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{91,72}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>icewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,259},{116,74}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,66},{116,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,832},{116,112}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,675},{120,136}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{120,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,584},{102,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{102,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lightning-orb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,867},{95,101}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{95,101}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>lightning-orb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,594},{85,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{85,91}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>lightning-orb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,878},{109,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{109,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ogre-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,219},{171,193}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{171,193}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{161,195}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,22},{161,195}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{165,183}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{165,183}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{157,217}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{157,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,414},{157,217}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{157,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pillow.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,763},{102,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{102,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>vine-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,848},{99,75}}</string>
                <key>offset</key>
                <string>{7,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,223},{99,75}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,199},{255,247}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{255,247}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,594},{99,75}}</string>
                <key>offset</key>
                <string>{7,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,223},{99,75}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,747},{99,99}}</string>
                <key>offset</key>
                <string>{7,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,199},{99,99}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,574},{117,137}}</string>
                <key>offset</key>
                <string>{-2,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,161},{117,137}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{179,215}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,83},{179,215}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{195,285}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{195,285}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,251},{207,247}}</string>
                <key>offset</key>
                <string>{-39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,51},{207,247}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,255}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{293,255}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>vine-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{255,247}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{255,247}}</string>
                <key>sourceSize</key>
                <string>{297,303}</string>
            </dict>
            <key>windblast-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,862},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{117,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,836},{117,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{117,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,797},{115,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{115,77}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,686},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{119,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spells-core.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cf016205451455d9f5dbefaf4c1e7f:1/1$</string>
            <key>textureFileName</key>
            <string>spells-core.pvr.ccz</string>
        </dict>
    </dict>
</plist>
