<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1094},{220,204}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{220,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bubble-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,666},{224,226}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{224,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>earthwall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,947},{172,96}}</string>
                <key>offset</key>
                <string>{2,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,180},{172,96}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>earthwall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1316},{204,184}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,92},{204,184}}</string>
                <key>sourceSize</key>
                <string>{260,278}</string>
            </dict>
            <key>earthwall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1608},{212,262}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{212,262}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>earthwall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1101},{224,276}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{224,276}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>fireball-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1655},{123,125}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{123,125}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1522},{119,87}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,43},{119,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1522},{131,99}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{131,99}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,947},{163,89}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,46},{163,89}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,947},{153,103}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{153,103}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>icewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1891},{230,146}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,134},{230,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,434},{230,222}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{230,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1379},{240,272}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{240,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1621},{202,268}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{202,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ogre-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1642},{342,384}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{342,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{322,390}}</string>
                <key>offset</key>
                <string>{54,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,43},{322,390}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1628},{340,374}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{340,374}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,513},{312,432}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{312,432}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,513},{312,432}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,2},{312,432}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>vine-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1891},{198,149}}</string>
                <key>offset</key>
                <string>{-11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,199},{198,149}}</string>
                <key>sourceSize</key>
                <string>{576,413}</string>
            </dict>
            <key>vine-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,894},{198,198}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{198,198}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>vine-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1099},{232,273}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{232,273}}</string>
                <key>sourceSize</key>
                <string>{258,293}</string>
            </dict>
            <key>vine-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{359,430}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{359,430}}</string>
                <key>sourceSize</key>
                <string>{383,440}</string>
            </dict>
            <key>vine-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,569}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{388,569}}</string>
                <key>sourceSize</key>
                <string>{404,579}</string>
            </dict>
            <key>vine-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1132},{415,494}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{415,494}}</string>
                <key>sourceSize</key>
                <string>{461,508}</string>
            </dict>
            <key>vine-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{557,510}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{557,510}}</string>
                <key>sourceSize</key>
                <string>{565,548}</string>
            </dict>
            <key>vine-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{508,494}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{508,494}}</string>
                <key>sourceSize</key>
                <string>{532,528}</string>
            </dict>
            <key>vine-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{509,494}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{509,494}}</string>
                <key>sourceSize</key>
                <string>{531,534}</string>
            </dict>
            <key>windblast-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1374},{232,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,65},{232,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1374},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,67},{232,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,947},{230,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,49},{230,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,947},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{238,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spells-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28dcfc9a9761532a2bcc24ce2f40892b:1/1$</string>
            <key>textureFileName</key>
            <string>spells-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
