<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{110,102}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{110,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bubble-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{112,114}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{112,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>earthwall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,479},{86,48}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,90},{86,48}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>earthwall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,106},{102,93}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{102,93}}</string>
                <key>sourceSize</key>
                <string>{130,139}</string>
            </dict>
            <key>earthwall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,814},{106,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,132}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>earthwall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,558},{112,138}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>fireball-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,956},{62,62}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{60,44}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{60,44}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,956},{66,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{66,50}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,479},{82,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{82,46}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>fireball-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,479},{78,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{78,52}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,948},{116,74}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{116,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,814},{116,112}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,698},{120,136}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{120,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>icewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,820},{102,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{102,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ogre-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,827},{171,193}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{171,193}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{161,195}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{161,195}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,821},{165,183}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{165,183}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,260},{157,217}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{157,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>ogre-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{157,217}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{157,217}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>vine-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,932},{100,75}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{100,75}}</string>
                <key>sourceSize</key>
                <string>{288,207}</string>
            </dict>
            <key>vine-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,116},{99,101}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,101}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>vine-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,556},{117,137}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{117,137}}</string>
                <key>sourceSize</key>
                <string>{129,147}</string>
            </dict>
            <key>vine-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{180,216}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{180,216}}</string>
                <key>sourceSize</key>
                <string>{192,220}</string>
            </dict>
            <key>vine-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,286}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{196,286}}</string>
                <key>sourceSize</key>
                <string>{202,290}</string>
            </dict>
            <key>vine-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,571},{209,248}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{209,248}}</string>
                <key>sourceSize</key>
                <string>{231,254}</string>
            </dict>
            <key>vine-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{279,256}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{279,256}}</string>
                <key>sourceSize</key>
                <string>{283,274}</string>
            </dict>
            <key>vine-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{254,248}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{254,248}}</string>
                <key>sourceSize</key>
                <string>{266,264}</string>
            </dict>
            <key>vine-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{256,247}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{256,247}}</string>
                <key>sourceSize</key>
                <string>{266,267}</string>
            </dict>
            <key>windblast-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,695},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{117,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,695},{117,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{117,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,479},{115,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{115,77}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>windblast-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,479},{119,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{119,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spells.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41911f8f41c451b0038e375be9d59986:1/1$</string>
            <key>textureFileName</key>
            <string>spells.pvr.ccz</string>
        </dict>
    </dict>
</plist>
