<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>vine</key>
		<dict>
			<key>delay</key>
			<real>0.166</real>
			<key>frames</key>
			<array>
				<string>vine-1</string>
				<string>vine-2</string>
				<string>vine-3</string>
				<string>vine-4</string>
				<string>vine-5</string>
				<string>vine-6</string>
				<string>vine-7</string>
				<string>vine-8</string>
				<string>vine-9</string>
				<string>vine-10</string>
				<string>vine-9</string>
				<string>vine-10</string>
				<string>vine-9</string>
				<string>vine-10</string>
				<string>vine-9</string>
				<string>vine-10</string>
				<string>vine-9</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
