<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>windblast-3</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 0 }, { 250, 250 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 250, 250 } }</string>
			<key>sourceSize</key>
			<string>{ 250, 250 }</string>
		</dict>
		<key>windblast-1</key>
		<dict>
			<key>frame</key>
			<string>{ { 250, 0 }, { 250, 250 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 250, 250 } }</string>
			<key>sourceSize</key>
			<string>{ 250, 250 }</string>
		</dict>
		<key>windblast-4</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 250 }, { 250, 250 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 250, 250 } }</string>
			<key>sourceSize</key>
			<string>{ 250, 250 }</string>
		</dict>
		<key>windblast-2</key>
		<dict>
			<key>frame</key>
			<string>{ { 250, 250 }, { 250, 250 } }</string>
			<key>offset</key>
			<string>{ 0, 0 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 0, 0 }, { 250, 250 } }</string>
			<key>sourceSize</key>
			<string>{ 250, 250 }</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>windblast-hd.png</string>
		<key>size</key>
		<string>{ 512, 512 }</string>
		<key>textureFileName</key>
		<string>windblast-hd.png</string>
	</dict>
</dict>
</plist>
