<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>animations</key>
	<dict>
		<key>wizard1-prepare</key>
		<dict>
			<key>delay</key>
			<real>0.09</real>
			<key>frames</key>
			<array>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare2.png</string>
				<string>wizard1-prepare3.png</string>
				<string>wizard1-prepare4.png</string>
				<string>wizard1-prepare3.png</string>
				<string>wizard1-prepare2.png</string>
				<string>wizard1-prepare.png</string>
				<string>wizard1-prepare.png</string>
			</array>
		</dict>
		<key>wizard1-attack</key>
		<dict>
			<key>delay</key>
			<real>0.083</real>
			<key>frames</key>
			<array>
				<string>wizard1-attack2.png</string>
				<string>wizard1-attack3.png</string>
				<string>wizard1-attack4.png</string>
				<string>wizard1-attack.png</string>
				<string>wizard1-attack.png</string>
				<string>wizard1-attack.png</string>
			</array>
		</dict>
		<key>wizard1-celebrate</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wizard1-celebrate1.png</string>
				<string>wizard1-celebrate2.png</string>
				<string>wizard1-celebrate3.png</string>
			</array>
		</dict>
	</dict>
	</dict>
</plist>