<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1622},{220,204}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{220,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bubble-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1394},{224,226}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{224,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>earthwall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1922},{172,96}}</string>
                <key>offset</key>
                <string>{2,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,180},{172,96}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>earthwall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1393},{204,184}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,92},{204,184}}</string>
                <key>sourceSize</key>
                <string>{260,278}</string>
            </dict>
            <key>earthwall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1646},{212,262}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{212,262}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>earthwall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{224,276}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{224,276}}</string>
                <key>sourceSize</key>
                <string>{260,276}</string>
            </dict>
            <key>explode-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1198},{104,94}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,72},{104,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>explode-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1364},{192,192}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{192,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>explode-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1138},{224,224}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{224,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>explode-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1232},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{160,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fireball-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,888},{123,125}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{123,125}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1922},{119,87}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,43},{119,87}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1449},{131,99}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{131,99}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1918},{163,89}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{163,89}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>fireball-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1294},{153,103}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{153,103}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>firewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1922},{114,90}}</string>
                <key>offset</key>
                <string>{-10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,175},{114,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>firewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1910},{138,130}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,147},{138,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>firewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1190},{186,222}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{186,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>firewall-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,914},{222,252}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{222,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>firewall-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{222,278}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{222,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>firewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,914},{222,260}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{222,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>fist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,344},{219,372}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{219,372}}</string>
                <key>sourceSize</key>
                <string>{237,400}</string>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1176},{183,141}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{183,141}}</string>
                <key>sourceSize</key>
                <string>{257,223}</string>
            </dict>
            <key>icewall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1412},{230,146}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,134},{230,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1414},{230,222}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{230,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{240,272}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{240,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>icewall-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1648},{202,268}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{202,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>lightning-orb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,986},{190,202}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{190,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>lightning-orb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1232},{170,178}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{170,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>lightning-orb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1622},{216,192}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{216,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ogre-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,888},{342,384}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,52},{342,384}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{322,390}}</string>
                <key>offset</key>
                <string>{54,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,43},{322,390}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{340,374}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,55},{340,374}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,879},{312,432}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,4},{312,432}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ogre-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,565},{312,432}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,2},{312,432}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>pillow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1840},{206,154}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{206,154}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vine-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1844},{198,148}}</string>
                <key>offset</key>
                <string>{14,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,448},{198,148}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,392},{508,494}}</string>
                <key>offset</key>
                <string>{43,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,100},{508,494}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1844},{198,148}}</string>
                <key>offset</key>
                <string>{14,-219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,448},{198,148}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1193},{198,198}}</string>
                <key>offset</key>
                <string>{14,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,398},{198,198}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1648},{232,272}}</string>
                <key>offset</key>
                <string>{-3,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,324},{232,272}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{358,430}}</string>
                <key>offset</key>
                <string>{-56,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,166},{358,430}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{388,568}}</string>
                <key>offset</key>
                <string>{-69,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,28},{388,568}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,498},{414,494}}</string>
                <key>offset</key>
                <string>{-78,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,102},{414,494}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,510}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,96},{584,510}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>vine-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{508,494}}</string>
                <key>offset</key>
                <string>{43,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,100},{508,494}}</string>
                <key>sourceSize</key>
                <string>{594,606}</string>
            </dict>
            <key>windblast-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{232,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,65},{232,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1414},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,67},{232,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,514},{230,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,49},{230,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>windblast-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,746},{238,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,50},{238,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spells-core-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce739f6983c7c25c706e7302d00fbc35:1/1$</string>
            <key>textureFileName</key>
            <string>spells-core-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
