<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vine-1.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-6.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 207 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-7.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 414 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-9.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 621 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-8.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 828 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-3.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1035 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-4.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1242 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-5.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1449 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-2.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1656 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
			<key>vine-10.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1863 }, { 568, 207 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 568, 207 } }</string>
				<key>sourceSize</key>
				<string>{ 568, 207 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>vine.png</string>
			<key>size</key>
			<string>{ 568, 2070 }</string>
			<key>textureFileName</key>
			<string>vine.png</string>
		</dict>
	</dict>
</plist>