<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>vine-7.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-8.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 304 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-9.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 608 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-6.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 912 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-1.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1216 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-10.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 1520 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-3.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 298, 0 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-4.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 596, 0 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
			<key>vine-5.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 894, 0 }, { 298, 304 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 298, 304 } }</string>
				<key>sourceSize</key>
				<string>{ 297, 303 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>vine.png</string>
			<key>size</key>
			<string>{ 2048, 2048 }</string>
			<key>textureFileName</key>
			<string>vine.png</string>
		</dict>
	</dict>
</plist>