<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>vine-5.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 1046 }, { 716, 194 } }</string>
			<key>offset</key>
			<string>{ 123, -110 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 88, 221 }, { 716, 194 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-2.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 944, 700 }, { 340, 48 } }</string>
			<key>offset</key>
			<string>{ 299, -183 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 99, 367 }, { 340, 48 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-9.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 0 }, { 986, 404 } }</string>
			<key>offset</key>
			<string>{ -31, -5 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 106, 10 }, { 986, 404 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-10.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 986, 0 }, { 1012, 380 } }</string>
			<key>offset</key>
			<string>{ -35, -17 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 97, 34 }, { 1012, 380 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-4.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 1240 }, { 644, 112 } }</string>
			<key>offset</key>
			<string>{ 161, -151 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 86, 302 }, { 644, 112 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-1.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 1804, 404 }, { 220, 86 } }</string>
			<key>offset</key>
			<string>{ 335, -164 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 123, 328 }, { 220, 86 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-6.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 780 }, { 764, 266 } }</string>
			<key>offset</key>
			<string>{ 86, -74 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 101, 149 }, { 764, 266 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-8.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 404 }, { 944, 376 } }</string>
			<key>offset</key>
			<string>{ -8, -19 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 105, 38 }, { 944, 376 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-3.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 0, 1352 }, { 494, 96 } }</string>
			<key>offset</key>
			<string>{ 221, -159 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 100, 318 }, { 494, 96 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
		<key>vine-7.png</key>
		<dict>
			<key>frame</key>
			<string>{ { 944, 404 }, { 860, 296 } }</string>
			<key>offset</key>
			<string>{ 43, -59 }</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{ { 95, 119 }, { 860, 296 } }</string>
			<key>sourceSize</key>
			<string>{ 1136, 414 }</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>vine-hd.png</string>
		<key>size</key>
		<string>{ 2048, 2048 }</string>
		<key>textureFileName</key>
		<string>vine-hd.png</string>
	</dict>
</dict>
</plist>
