<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ogre-1.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>sourceSize</key>
				<string>{ 225, 225 }</string>
			</dict> 
			<key>ogre-3.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 225, 0 }, { 225, 225 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>sourceSize</key>
				<string>{ 225, 225 }</string>
			</dict> 
			<key>ogre-5.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 225 }, { 225, 225 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>sourceSize</key>
				<string>{ 225, 225 }</string>
			</dict> 
			<key>ogre-2.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 225, 225 }, { 225, 225 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>sourceSize</key>
				<string>{ 225, 225 }</string>
			</dict> 
			<key>ogre-4.png</key>
			<dict>
				<key>frame</key>
				<string>{ { 0, 450 }, { 225, 225 } }</string>
				<key>offset</key>
				<string>{ 0, 0 }</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{ { 0, 0 }, { 225, 225 } }</string>
				<key>sourceSize</key>
				<string>{ 225, 225 }</string>
			</dict> 
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ogre.png</string>
			<key>size</key>
			<string>{ 512, 1024 }</string>
			<key>textureFileName</key>
			<string>ogre.png</string>
		</dict>
	</dict>
</plist>